services:

  postgres:
    image: postgres:15-alpine
    container_name: shop-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - .postgres-data:/var/lib/postgresql/data
      - ./local-setup/init-local-db.sql:/docker-entrypoint-initdb.d/init-databases.sql
    networks:
      - shop-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  inventory-service:
    build:
      context: .
      dockerfile: ./inventory-service/Dockerfile
    container_name: inventory-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/inventory_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SERVER_PORT: 8080
    ports:
      - "8081:8080"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - shop-network
    restart: unless-stopped

  order-service:
    build:
      context: .
      dockerfile: ./order-service/Dockerfile
    container_name: order-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/order_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      INVENTORY_SERVICE_URL: http://inventory-service:8080
      SERVER_PORT: 8080
    ports:
      - "8082:8080"
    depends_on:
      - postgres
      - inventory-service
    networks:
      - shop-network
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    container_name: shop-frontend
    ports:
      - "3000:80"
    depends_on:
      - inventory-service
      - order-service
    networks:
      - shop-network
    restart: unless-stopped

volumes:
  postgres-data:
    driver: local

networks:
  shop-network:
    driver: bridge
