services:
  postgres:
    image: postgres:15-alpine
    container_name: shop-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - .postgres-data:/var/lib/postgresql/data
      - ./local-setup/init-local-db.sql:/docker-entrypoint-initdb.d/init-databases.sql
    networks:
      - shop-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres-data:
    driver: local

networks:
  shop-network:
    driver: bridge
